<h1>Une nouvelle série est apparue : {{ name }}</h1>

<p>
    Venez sur <a href="{{ url('homepage_index') }}">Riviera Série</a>, il y a une nouvelle série nommée {{ name }} et créée par {{ author }}.
</p>
