{% extends 'base.html.twig' %}

{% block body %}
    <h1>Series Manager</h1>

    <form action="/series/create" method="post">
        <div>
            <label>Autheur :</label></br>
            <input type="text" id="author" name="author" required="required" autocomplete="off" />
        </div>
        <div>
            <label>Nom série :</label></br>
            <input type="text" id="name" name="name" required="required" autocomplete="off" />
        </div>
        <div>
            <label>Description :</label></br>
            <textarea id="description" name="description" autocomplete="off" cols="40" rows="5"></textarea>
        </div>
        <input type="submit" value="Valider">
    </form>
{% endblock %}